snippet class_connector
	class ${1}_${2}(orm.Model):
		_name = '$1.${3}'
		_inherit = '$1.binding'
		_inherits = {'$3': 'openerp_id'}

		_columns = {
			'openerp_id': fields.many2one('$3',
										   string='${4}',
										   required=True,
										   ondelete='cascade'),
			${7}
		}

		_sql_constraints = [
			('$1_uniq', 'unique(backend_id, $1_id)',
			 'A ${5} tag with same ID on ${6} already exists.'),
		]

